<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @strain.name %>
</p>

<p>
  <strong>Id:</strong>
  <%= @strain.ID %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @strain.keywords %>
</p>

<%= link_to 'Edit', edit_strain_path(@strain) %> |
<%= link_to 'Back', strains_path %>
